.DS_Store
.Trash

.idea
*.iml

classes
target
bin

*.class
*.asp
*.bat
*.class
*.cmd
*.com
*.cpl
*.dll
*.exe
*.fon
*.hta
*.ini
*.ins
*.iw
*.jar
*.jsp
*.js
*.jse
*.pif
*.scr
*.shs
*.sh
*.vb
*.vbe
*.vbs
*.ws
*.wsc
*.wsf
*.wsh
*.msi